<div class="container">
  <h1>配置の変化</h1>
  <div class="row">
    <div class="col-12 text-center" style="background: red; height: 200px;"><p class="fw-bold text-primary fst-italic text-opacity-75">Aブロック</p></div>
    <div class="col-12 text-center" style="background: green; height: 200px;"><p class="fw-normal">Aブロック</p></div>
    <div class="col-12 text-center" style="background: blue; height: 200px;"><p class="fw-light">Aブロック</p></div>
    <div class="col-12 text-center" style="background: yellow; height: 200px;"><p class="fw-bolder text-success">Aブロック</p></div>
    <div class="col-12 text-center" style="background: pink; height: 200px;"><p class="fw-lighter">Aブロック</p></div>
  </div>
  <hr>
  <h1>開会式のプログラム</h1>
  <ul class="list-inline">
    <li class="list-inline-item">開会宣言</li>
    <li class="list-inline-item">選手宣誓</li>
    <li class="list-inline-item">国歌斉唱</li>
    <li class="list-inline-item">聖火点火</li>
  </ul>
  <hr>  
  <h1>Webの基本用語</h1>
  <dl class="row">
    <dt class="col-md-2 text-md-end">HTML</dt>
    <dd class="col-md-10">Webページの構造を記述するための言語</dd>
    <dt class="col-md-2 text-md-end">CSS</dt>
    <dd class="col-md-10">Webページのデザインを記述するための言語</dd>
    <dt class="col-md-2 text-md-end">JavaScript</dt>
    <dd class="col-md-10">Webページの動作を記述するための言語</dd>
  </dl>
  <hr>
  <h1>影の表示</h1>
  <div class="row">
    <div class="col bg-success shadow-lg" style="height: 200px;"></div>
  </div>
</div>